@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-green: #52c600;
  --color-lightgreen:#4E9B18;
  --color-gray: #8E8E8E;
  --color-gray-100:#C6C6C6;
  --color-black-100: #191c1f;
  --color-blue-100: #0000be;
  --color-blue-200: #124767;
  --color-blue-300: #3aa2b2;
  --color-blue-400: #2da5f3;
  --color-blue-500: #5E5EEE;
  --color-blue-600: #67cbd0;
  --color-blue-700:#4b4bbe;
  --color-blue-800:#4242FF;
  --color-blue-900:#102693;
  --color-lightblue:#E9E9FF;
  --color-black: #000000;

  --font-roboto: "Roboto", sans-serif;
  --font-Lato: "Lato", sans-serif;
  --font-Plus: "Plus Jakarta Sans", sans-serif;

  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-17.68:17.68px;
  --text-18: 18px;
  --text-18.07:18.07px;
  --text-20: 20px;
  --text-22: 22px;
  --text-25: 25px;
  --text-26: 26px;
  --text-30: 30px;
  --text-28:28px;
  --text-30.94:30.94px;
  --text-35: 35px;
  --text-40: 40px;
  --text-50: 50px;
  --text-54: 54px;
  --text-56:56.3px; 

  --spacing-9:9px;
  --spacing-10:10px;
  --spacing-11:11.5px;
  --spacing-12:12.5px;
  --spacing-13: 13px; 
  --spacing-20: 20px;
  --spacing-40: 40px;
 
  --radius-10:10px;
  --radius-15:15px;
  --radius-20:20px;
  --radius-22:22px;
  --radius-30:30px;
  --radius-28:28.15px;
  --radius-40:40px;

  --breakpoint-375:375px;
  --breakpoint-425:425px;
  --breakpoint-768:768px;
  --breakpoint-1024:1024px;
  --breakpoint-xl:1440px;
  --breakpoint-xxl:1510px;
}

@layer base{
  *::-webkit-scrollbar {
    @apply h-0 w-0 bg-none border border-gray rounded-md;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-gray rounded-md;
  }
}

@layer components{
  
.swiper-button-prev,.swiper-button-next{
  @apply !relative !bottom-0 !left-0 !right-0 !top-0 !m-0 !p-0;
}
.swiper-button-prev::after,.swiper-button-next::after,.swiper-pagination::after {
  @apply hidden;
}
.swiper-pagination {
  @apply absolute mb-16;
}
.swiper-pagination-bullet {
  @apply bg-white border-[6px] border-white;
}
.swiper-pagination-bullet-active {
  @apply border-[6px] border-white;
}
.prev{
  @apply h-[40px] w-[40px] rounded-full bg-lightblue flex justify-center items-center hover:shadow-sm shadow-gray;
}
.next{
  @apply h-[40px] w-[40px] rounded-full bg-blue-500 flex justify-center items-center hover:shadow-sm shadow-black;
}
.btn {
  @apply flex items-center bg-blue-500 py-13 text-white px-8 rounded-20 gap-2 font-bold font-Plus text-16;
}
.btn:hover,.popup-btn:hover{
  @apply bg-white border border-blue-500 text-blue-500 shadow-gray;
}
.browser-btn .btn svg,.about .btn svg ,.track-btn svg{
  @apply fill-white
}
.btn:hover svg ,.track-btn:hover svg{
  @apply fill-blue-500;
}
.h1{
  @apply flex flex-wrap items-center gap-2 text-40 xl:text-54 font-bold relative;
}
.contact {
  @apply font-roboto text-16 font-normal;
}
.contact2 {
  @apply font-roboto text-16 xl:text-18 font-normal;
}
.contact3 {
  @apply font-Plus text-16 text-[#555574];
}
.title {
  @apply text-40 font-bold font-Plus my-2;
}
.subtitle{
  @apply font-Plus text-18 text-blue-500 font-bold flex items-center gap-2 mt-3;
}
.title1 {
  @apply text-40 xl:text-[54.87px] text-center;
}
.title2 {
  @apply font-Plus text-20 font-semibold text-[#0B0B38];
}
.title-3{
  @apply text-40 xl:text-50 font-Plus font-bold;
}
.black-title {
  @apply text-22 font-Plus font-semibold;
}
.like{
  @apply py-13 px-13 rounded-20 bg-[#cdcdfa] hover:bg-blue-500;
}
}


.popup-wrapper{
  @apply absolute top-0 z-60 w-full h-screen flex justify-center items-center;
}
.popup{
  @apply p-5 xl:p-20 xl:w-[634.74px] xl:h-[494.26] bg-white rounded-28 flex flex-col items-center justify-center;
}
.popup .popup-btn{
  @apply text-22 font-Plus font-bold flex items-center gap-2  py-[18px] px-3 xl:px-[137px] rounded-28 bg-blue-500 text-white; 
}
.popup .popup-btn svg{
  @apply h-[20px]
}

.header {
  @apply xl:h-[162px] sticky top-0 z-40 bg-white shadow;
}
.header .header-top {
  @apply xl:h-[52px] border bg-blue-500 text-white flex flex-wrap items-center justify-between p-2 xl:px-20 font-roboto;
}
.header .header-top ul li a {
  @apply xl:text-18 hover:text-blue-100 hover:font-bold;
}
.header .header-bottom {
  @apply flex flex-wrap justify-evenly items-center xl:h-[110px];
}
.header .header-bottom .logo {
  @apply text-blue-200 font-Lato font-bold text-25;
}
.header .header-bottom .navbar {
  @apply w-full xl:w-auto p-3 hidden xl:block;
}
.header .header-bottom .navbar ul li a {
  @apply font-semibold text-18 hover:text-blue-500;
}
.header .header-bottom .contact .icon {
  @apply bg-blue-500 h-[35px] w-[35px] rounded-full flex justify-center items-center cursor-pointer hover:shadow-md shadow-gray;
}
.header .header-bottom .contact .num {
  @apply absolute -top-1 right-0 h-[13px] w-[13px] bg-red text-white flex justify-center items-center rounded-full text-[10px];
}

.searchbar-weapper {
  @apply fixed w-full z-40;
}
.searchbar {
  @apply border m-auto rounded-b-2xl xl:w-[935px] font-roboto bg-white hidden;
}
.searchbar .red,
.green {
  @apply h-[10px] w-[10px] bg-red rounded-full;
}
.searchbar .green {
  @apply bg-green;
}
.h3 {
  @apply text-gray;
}
.searchbar .search-item {
  @apply flex justify-between items-center p-5;
}

.product-menu {
  @apply fixed z-20 h-[603px] flex flex-wrap flex-row justify-center items-center p-2 xl:p-10 w-full bg-white;
}
.product-menu .menu-item .items {
  @apply flex items-center justify-between p-4 rounded-10 border text-20 font-roboto w-[254px] h-[64px] relative hover:bg-blue-300 hover:text-white;
}
.product-menu .menu-item .items .fram-white {
  @apply absolute right-4 z-0;
}
.product-menu .menu-item .items .fram-black {
  @apply z-10;
}
.product-menu .menu-item .items:hover .fram-black {
  display: none;
}
.multi-unit {
  @apply flex items-center p-4 shadow-md;
}
.product-menu .product-title {
  @apply font-Plus text-[19.14px] font-medium text-black-100;
}
.product-menu .product-des {
  @apply font-roboto text-blue-400 text-18.07 font-semibold;
}
.product-menu .menu-item-3 {
  @apply w-[384px] h-[503px] bg-blue-600 flex justify-center items-center flex-col rounded-10;
}
.shop-btn {
  @apply bg-blue-500 text-white flex justify-center items-center gap-2 py-4 px-20 text-17.68 font-bold font-Plus my-4 rounded-22;
}
.h2 {
  @apply font-Plus text-white font-semibold text-30.94;
}

.banner-slide {
  @apply  h-[900px] xl:h-[850px];
}
.banner-slide .slide-1 {
  @apply bg-linear-to-r from-[#2C2C66] to-[#0B0B38] sm:flex justify-center items-center ;
}
.banner-slide .slide-1 .slide1-item-1 {
  @apply xl:h-[540px] xl:w-[793px] text-white p-2;
}
.banner-slide .rates{
  @apply grid grid-cols-3 gap-2 border-y border-gray-600 w-full me-20 xxl:w-[90%];
}
h1 {
  @apply text-54 font-Plus font-bold;
}
.banner-slide .slide-1 .slide1-item-2 {
  @apply xl:h-[604.8px] xl:w-[620px] relative p-3;
}
.banner-slide .slide-1 .slide1-item-2 .img{
  @apply w-[540px] h-[605px] ms-auto overflow-hidden border rounded-40;
}
.banner-slide .slide-1 .slide1-item-2 .img .img-item{
  @apply h-full w-full hover:scale-125 hover:-rotate-6 duration-300;
}
.banner-slide .slide-1 .slide1-item-2 .review {
  @apply 375:absolute 768:absolute 375:left-10 768:left-0 max-375:top-0 768:bottom-3 xl:bottom-36 bg-white rounded-15 p-5 h-[143.79px] min-375:w-[275px] w-[275px];
}
.shop-btn-2 {
  @apply bg-blue-500 w-auto text-white px-3 py-[11.74px] flex justify-center items-center gap-2 text-17.68 font-bold font-Plus my-4 rounded-[22px] hover:bg-transparent hover:border border-white;
}
.banner-slide .slide-2 {
  @apply bg-[#050607] flex flex-col items-center text-white relative overflow-hidden;
}
.banner-slide .slide-2 .slide-2-item{
  @apply  xl:w-[742px] my-5 flex flex-col items-center p-2 xl:p-0;
}
.banner-slide .slide-2 .slide2-slider {
  @apply h-[405px] w-[1190px] flex items-center;
}
.banner-slide .slide-2 .slide2-slider .slide {
  @apply h-full flex justify-center items-center;
}
.banner-slide .slide-2 .slide2-slider .slide img {
  @apply drop-shadow-xl;
}
.banner-slide .slide-2 .color {
  @apply absolute -bottom-[50%] h-[700px] xl:h-[900px] w-full bg-[radial-gradient(at_50%_75%,_#5E5EEE_20%,_#2E9AFF_20%,_#050607_60%)] rounded-t-full opacity-50;
}
.banner-slide .slide-3 {
  @apply bg-[#1D1D1D];
}
.banner-slide .slide-3 .slide3-item {
  @apply w-full xl:w-[1156px] h-full text-white bg-gradient-to-r from-[#1D1D1D] via-[#151515] to-[#15151529] absolute left-0 flex items-center z-30;
}
.banner-slide .slide-3 .slide3-item .slide3-item-1 {
  @apply p-2 xl:w-[700px] xl:ms-[10%];
}
.banner-slide .slide-3 .swiper-slider-3 {
  @apply w-[1000px] h-[694px] absolute right-0 top-20 z-10;
}
.banner-slide .slide-3 .swiper-slider-3 .swiper-slide {
  @apply bg-white rounded-30 transition-transform duration-500 ease-in-out scale-[0.9];
}

.banner-slide .slide-3 .swiper-slider-3 .swiper-slide-active {
 @apply transform scale-100;
}

.banner-slide .slide-3 .swiper-slider-3 .image {
  @apply  p-10;
}

.track {
  @apply bg-white m-auto xl:w-[1183.33px] rounded-t-40 flex flex-wrap items-center justify-evenly p-2 xl:p-20  absolute xl:-mt-16 xl:left-30 xxl:left-90 z-30;
}
.track .icon {
  @apply bg-blue-500 h-[70px] w-[70px] rounded-15 flex justify-center items-center mx-3;
}
.track-btn{
  @apply bg-blue-500 text-white rounded-20 flex justify-center items-center gap-2 py-12 px-20 font-Plus font-bold;
}
.track-btn:hover{
  @apply bg-white text-blue-500  border border-blue-500;
}


.shop-by-system{
  @apply xxl:container m-auto mt-70 xl:mt-40 xl:p-20;
}
.shop-by-system .shop-by-system-menu,.Shop-By-Case-menu{
  @apply flex flex-wrap items-center justify-between my-5;
}
.shop-by-system-swiper .swiper-slide,.Shop-By-Case-swiper .swiper-slide{
  @apply bg-white rounded-40 overflow-hidden;
}
.tag{
  @apply bg-blue-500 text-white rounded-10 py-9 px-40 font-roboto font-semibold text-[18.75px];
}
.shop-by-system-swiper .img{
  @apply h-[264px] flex items-center justify-center;
}

.Shop-By-Case{
  @apply xxl:container m-auto mb-10 p-20;
}
.Shop-By-Case .img{
  @apply flex justify-center items-center bg-white border-[3px] border-blue-500 rounded-40 h-[241px] overflow-hidden;
}
.casebutton{
  @apply m-auto bg-blue-500 w-[80%] flex justify-center rounded-10 -mt-8; 
}
.case{
  @apply bg-white h-[35px] w-[35px] rounded-full flex justify-center items-center;
}
.case-btn{
  @apply flex items-center gap-2 bg-blue-500 text-22 font-roboto font-bold text-white py-12 xxl:px-5 rounded-10 z-20;
}
.Shop-By-Case-swiper .swiper-slide:hover .case-btn {
@apply bg-white text-blue-900
}
.Shop-By-Case-swiper .swiper-slide:hover .casebutton{
  @apply bg-white shadow-md;
}
.case-text{
  @apply absolute top-0 left-0 rounded-40 w-[328px] h-[241px] bg-blue-500 ms-4 my-4 opacity-90 pt-16 text-center text-white text-28 font-Plus font-bold hidden;
}
.Shop-By-Case-swiper .swiper-slide:hover .case-text{
  @apply block;
}

.works{
  @apply relative flex flex-col items-center p-2 mb-30;
}
.works .works-menu{
  @apply grid grid-cols-1 lg:grid-cols-5 gap-4 z-10 xl:w-[60%] mt-5;
}
.works .works-menu .work-item{
  @apply flex flex-col items-center;
}
.work-content{
  @apply text-blue-500 font-medium text-22 font-roboto;
}
.works .icon{
  @apply bg-blue-500 flex justify-center items-center h-[60px] w-[60px] rounded-full my-3;
}

.program{
  @apply relative h-auto xl:h-[379px] flex flex-col items-center p-2 mb-30;
}
.program-title{
  @apply font-Lato font-bold text-20;
}
.program .program-menu1{
  @apply container m-auto p-5 grid 1024:grid-cols-2 xl:grid-cols-3  gap-8;
}
.program .program-menu1 li{
  @apply font-medium mt-2;
}
.program .program-menu1 .program-item{
  @apply p-6 pe-10  rounded-40 relative;
}
.program .program-menu1 .program-item:hover{
  @apply border-3 border-blue-500;
}
.program .green-text{
  @apply text-lightgreen font-Plus font-bold text-22;
}
.program .text{
  @apply text-gray text-18 font-Plus font-medium;
}
.program .content-program{
  @apply text-14 text-gray font-roboto font-medium mt-3;
}
.program .program-menu1 .items{
  @apply border-b border-gray flex items-center justify-between pb-4;
}
.program-btn-1{
 @apply bg-blue-800 rounded-20 text-white p-1 font-roboto font-semibold px-10;
}
.program-btn{
  @apply  bg-blue-800 rounded-20 text-white p-1 font-roboto font-semibold px-10; 
}
.program .bt{
  @apply  flex justify-center bg-blue-500 rounded-20 mt-3 hover:bg-white;
}

.bt:hover .btn{
  @apply border-none
}

.serves{
  @apply flex flex-col items-center;
}
.serves .serves-menu1{
  @apply flex flex-wrap justify-center items-center gap-7 my-10;
}
.serves .serves-menu1 .serves-item{
  @apply border-3 border-blue-500 rounded-40 w-[365px] overflow-hidden;
}
.serves .serves-menu1 .serves-item .items{
  @apply bg-blue-500 flex items-center justify-center h-[100px] font-Plus font-semibold text-26 text-white;
}

.Professionals{
  @apply relative flex flex-col items-center justify-center h-[519px];
}
.Professionals-item{
  @apply w-screen  xxl:container overflow-auto flex items-center gap-6 mt-5;
}
.Professionals-item .items{
  @apply flex flex-col items-center w-[204px] border border-gray-100 rounded-20 p-3 hover:bg-lightblue hover:shadow-md shadow-black my-2;
}
.Professionals-title{
  @apply text-35 font-Plus font-semibold mb-2;
}
.Professionals-content{
  @apply text-blue-900 font-medium text-22 font-roboto truncate;
}
.Professionals-item:hover::-webkit-scrollbar {
  @apply h-1;
}

.about{
  @apply flex flex-wrap items-center justify-center gap-[99px] xxl:h-[709px] mb-30 ;
}
.about .img{
  @apply xl:w-[450px] xxl:w-[682px]
}
.blue-text{
  @apply text-18 font-Plus font-semibold text-blue-500;
}
.about .text{
  @apply font-roboto text-[#696969];
}

.Testimonials{
  @apply xxl:container m-auto xxl:mb-56 p-4 xl:px-16;
}

.Testimonials-swiper .swiper-slide{
  @apply rounded-40 border-3 border-blue-500 p-5 relative bg-white;
}
.Testimonials-contant{
  @apply font-roboto font-bold text-22  text-gray pe-12 768:line-clamp-4 xl:line-clamp-none;
}
.Testimonials .text{
  @apply text-18 font-Plus font-medium text-black;
}
.Testimonials .mark{
  @apply absolute right-1 -top-6 bg-blue-500 flex items-center justify-center h-[54px] w-[54px] rounded-full;
}

.contacts {
  @apply xxl:absolute m-auto left-44 z-40 container text-white bg-blue-500 flex flex-wrap justify-evenly items-center rounded-20 border-8 border-white xxl:-mt-44 py-14;
}
.contact-text {
  @apply text-22 font-roboto my-3;
}
.contacts form {
  @apply flex flex-wrap justify-center gap-4 p-4;
}
.contacts form input::placeholder{
  @apply text-gray-100 font-roboto text-18;
}
.subscrine-btn{
  @apply  bg-white rounded-20 text-blue-500 font-Plus font-bold w-full 425:w-[300px] sm:w-[176px] h-[50px];
}
.subscrine-btn:hover,.chat-btn:hover{
  @apply bg-transparent border border-white text-white;
}
.contacts .contacts-item1{
  @apply xxl:w-[489px] bg-blue-700 flex flex-col items-center p-5 rounded-md;
}
.chat-btn{
  @apply bg-white text-blue-500  py-11 px-6 font-Plus font-bold text-18 flex items-center gap-2 rounded-20 my-3;
}
.chat-btn svg{
  @apply stroke-[#5E5EEE]
}
.chat-btn:hover svg{
  @apply stroke-white;
}

.footer {
  @apply bg-black text-white h-auto xl:h-[573px] relative;
}
.footer .footer-menu {
  @apply container xl:absolute bottom-0 xl:left-48 p-5 text-white;
}
.footer-title,.contects-title {
  @apply font-Plus text-30 font-bold;
}
.footer .footer-menu ul li {
  @apply mt-5 hover:text-gray;
}
.footer .socil-icon {
  @apply flex items-center gap-2 my-2;
}
.footer .socil-icon .solil-icon-item {
  @apply bg-white h-[40px] w-[40px] rounded-full flex justify-center items-center;
}
.footer .footer-menu .highlite {
  @apply border-t border-gray-100 pt-5 flex justify-center items-center font-roboto font-medium text-20;
}
